<template>
	<RadSideDrawer>
		<StackLayout ~drawerContent backgroundColor="#ffffff">
			<Label class="drawer-header" text="Farming" />
			<ListView
				for="item in listOfItems"
				@itemTap="onItemTap"
				separatorColor="transparent"
			>
				<v-template>
					<Label class="drawer-item" :text="item.text" />
				</v-template>
			</ListView>
		</StackLayout>

		<StackLayout ~mainContent refs="main" backgroundColor="#ffffff">
			<TradeLogs />
		</StackLayout>
	</RadSideDrawer>
</template>

<script lang="ts">
import Login from "./Login.vue";
import ChangeInfo from "@/components/DrawerMainContent/ChangeInfo.vue";
import CheckBalance from "@/components/DrawerMainContent/CheckBalance.vue";

import { Vue, Mixins, Component } from "vue-property-decorator";
import ScannerMixin from "@/mixins/BarcodeScanner";
import { constants as USER } from "@/store/modules/user";
import { constants as ETHEREUM } from "@/store/modules/ethereum";
import { Getter, Action, State } from "vuex-class";
import { BarcodeScanner } from "nativescript-barcodescanner";
import TradeLogs from "@/components/DrawerMainContent/TradeLogs.vue";

import _ from "lodash";
import { mapState, mapActions } from "vuex";
import moment from "moment";

enum ViewType {
	CHECK_BALANCE = "CHECK_BALANCE",
	VIEW_TRANSACTION_LOG = "VIEW_TRANSACTION_LOG",
	CHANGE_INFO = "CHANGE_INFO"
}

@Component({
	components: {
		TradeLogs,
		ChangeInfo,
		CheckBalance
	}
})
export default class Drawer extends Vue {
	@Action(USER.ACTIONS.DELETE_TOKEN, { namespace: USER.NAME })
	deleteToken!: Function;

	@Action(ETHEREUM.ACTIONS.SEND_COIN, { namespace: ETHEREUM.NAME })
	sendCoin!: Function;

	viewType = ViewType.CHECK_BALANCE;

	VIEW_TYPE = ViewType;

	listOfItems = [
		{ text: "결제", run: this.doPay },
		{ text: "환불", run: () => {} },
		{
			text: "결제내역",
			run: () => (this.viewType = this.VIEW_TYPE.VIEW_TRANSACTION_LOG)
		},
		{
			text: "잔고확인",
			run: () => (this.viewType = this.VIEW_TYPE.CHECK_BALANCE)
		},
		{
			text: "정보수정",
			run: () => (this.viewType = this.VIEW_TYPE.CHANGE_INFO)
		},
		{
			text: "로그아웃",
			run: () => {
				this.deleteToken();
				this.$strapi.clearToken();

				this.$navigateTo(Login);
			}
		}
	];

	async scan() {
		const result = await new BarcodeScanner().scan({
			cancelLabel: "EXIT. Also, try the volume buttons!", // iOS only, default 'Close'
			cancelLabelBackgroundColor: "#333333", // iOS only, default '#000000' (black)
			message: "Use the volume buttons for extra light", // Android only, default is 'Place a barcode inside the viewfinder rectangle to scan it.'
			preferFrontCamera: false, // Android only, default false
			showFlipCameraButton: true, // default false
			showTorchButton: true, // iOS only, default false
			torchOn: false, // launch with the flashlight on (default false)
			resultDisplayDuration: 500, // Android only, default 1500 (ms), set to 0 to disable echoing the scanned text
			beepOnScan: true, // Play or Suppress beep on scan (default true)
			openSettingsIfPermissionWasPreviouslyDenied: true, // On iOS you can send the user to the settings app if access was previously denied
			closeCallback: () => {
				console.log("Scanner closed @ " + new Date().getTime());
			}
		});
		// .then(
		//   function(result) {
		//     console.log("--- scanned: " + result.text);
		//     // Note that this Promise is never invoked when a 'continuousScanCallback' function is provided
		//     setTimeout(function() {
		//       // if this alert doesn't show up please upgrade to {N} 2.4.0+
		//       alert({
		//         title: "Scan result",
		//         message: "Format: " + result.format + ",\nValue: " + result.text,
		//         okButtonText: "OK"
		//       });
		//     }, 500);
		//   },
		//   function(errorMessage) {
		//     console.log("No scan. " + errorMessage);
		//   }
		// );
		return result.text;
	}

	async doPay() {
		try {
			let url = await this.scan();
			const res = await this.$strapi.request("POST", url);

			//this.alert(JSON.stringify(res));

			this.$io.emit("join room", res.pay._id);
			const result = await this.sendCoin({
				value: res.totalWei,
				to: res.seller.address,
				unitType: "wei"
			});

			console.log(result);

			const pay = res.pay;

			pay.transactionhash = result;

			this.$io.emit("transfer", pay);

			this.$io.on("transaction changed", transaction => {
				console.log("transaction changed!");

				this.$io.emit("leave room", transaction._id);
				if (transaction.status == "SUCCESS") {
					alert("결제 완료!");
				}
			});
		} catch (err) {
			console.log(err.response);
		}
	}

	onItemTap(event) {
		event.item.run();
	}
	alert(message) {
		return alert({
			title: "Farming",
			okButtonText: "OK",
			message: message
		});
  }

  created() {
    console.log(this.$refs.main);
  },
}
</script>

<style scoped>
.drawer-header {
	padding: 50 16 16 16;
	margin-bottom: 16;
	background-color: #53ba82;
	color: #ffffff;
	font-size: 24;
}

.drawer-item {
	padding: 8 16;
	color: #333333;
	font-size: 16;
}
</style>
