<template>
  <Page @loaded="onLoaded">
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label text="MENU" @tap="$refs.drawer.nativeView.showDrawer()" col="0" />
        <Label class="title" text="Farming" col="1" />
      </GridLayout>
    </ActionBar>

    <Drawer ref="drawer"></Drawer>
  </Page>
</template>

<script lang="ts">
import { Vue, Component, Mixins } from "vue-property-decorator";
import { BarcodeScanner } from "nativescript-barcodescanner";
import { Getter, Action, State } from "vuex-class";
import { constants as USER } from "@/store/modules/user";
import Login from "./Login.vue";
import Drawer from "./Drawer.vue";

@Component({
  components: {
    Drawer
  }
})
export default class App extends Vue {
  @State(state => state.user.address)
  address: string;

  alert(message) {
    return alert({
      title: "Farming",
      okButtonText: "OK",
      message: message
    });
  }

  onLoaded() {}
}
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.title {
  text-align: left;
  padding-left: 16;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}
</style>
