<template>
	<Page actionBarHidden="true" @loaded="onLoaded">
		<FlexboxLayout class="page">
			<StackLayout class="form">
				<Image class="logo" src="~/images/logo.png"></Image>
				<Label class="header" text="Farming"></Label>

				<GridLayout rows="auto, auto, auto, auto, auto">
					<StackLayout row="0" class="input-field">
						<TextField
							class="input"
							hint="Email"
							:isEnabled="!processing"
							keyboardType="email"
							autocorrect="false"
							autocapitalizationType="none"
							v-model="user.email"
							returnKeyType="next"
							@returnPress="focusPassword"
						></TextField>
						<StackLayout class="hr-light"></StackLayout>
					</StackLayout>

					<StackLayout row="1" v-show="!isLoggingIn" class="input-field">
						<TextField
							class="input"
							hint="username"
							:isEnabled="!processing"
							autocorrect="false"
							autocapitalizationType="none"
							v-model="user.username"
							returnKeyType="next"
							@returnPress="focusPassword"
						></TextField>
						<StackLayout class="hr-light"></StackLayout>
					</StackLayout>

					<StackLayout row="2" class="input-field">
						<TextField
							class="input"
							ref="password"
							:isEnabled="!processing"
							hint="Password"
							secure="true"
							v-model="user.password"
							:returnKeyType="isLoggingIn ? 'done' : 'next'"
							@returnPress="focusConfirmPassword"
						></TextField>
						<StackLayout class="hr-light"></StackLayout>
					</StackLayout>

					<StackLayout row="3" v-show="!isLoggingIn" class="input-field">
						<TextField
							class="input"
							ref="confirmPassword"
							:isEnabled="!processing"
							hint="Confirm password"
							secure="true"
							v-model="user.confirmPassword"
							returnKeyType="done"
						></TextField>
						<StackLayout class="hr-light"></StackLayout>
					</StackLayout>

					<StackLayout row="4" v-show="!isLoggingIn" class="input-field">
						<TextField
							class="input"
							:isEnabled="!processing"
							hint="privateKey"
							secure="false"
							v-model="user.privateKey"
							returnKeyType="done"
						></TextField>
						<StackLayout class="hr-light"></StackLayout>
					</StackLayout>

					<ActivityIndicator rowspan="5" :busy="processing"></ActivityIndicator>
				</GridLayout>

				<Button
					:text="isLoggingIn ? 'Log In' : 'Sign Up'"
					:isEnabled="!processing"
					@tap="submit"
					class="btn btn-primary m-t-20"
				></Button>
				<!-- <Label
          *v-show="isLoggingIn"
          text="Forgot your password?"
          class="login-label"
          @tap="forgotPassword()"
        ></Label>-->
			</StackLayout>

			<Label class="login-label sign-up-label" @tap="toggleForm">
				<FormattedString>
					<Span
						:text="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"
					></Span>
					<Span :text="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
				</FormattedString>
			</Label>
		</FlexboxLayout>
	</Page>
</template>

<script lang="ts">
import Home from "@/components/Layout.vue";
import { Vue, Component, Mixins } from "vue-property-decorator";
import { constants as USER } from "@/store/modules/user";
import * as dialogs from "tns-core-modules/ui/dialogs";
import { Action } from "vuex-class";
import WalletMixin from "@/mixins/wallet";

@Component
export default class Login extends Mixins(WalletMixin) {
	@Action(USER.ACTIONS.SET_TOKEN, { namespace: USER.NAME })
	setToken!: Function;

	@Action(USER.ACTIONS.GET_TOKEN, { namespace: USER.NAME })
	getToken!: Function;

	@Action(USER.ACTIONS.SET_ADDRESS, { namespace: USER.NAME })
	setAddress!: Function;

	isLoggingIn = true;
	processing = false;

	user = {
		email: "",
		username: "",
		password: "",
		confirmPassword: "",
		privateKey: "",
		address: ""
	};

	toggleForm() {
		this.isLoggingIn = !this.isLoggingIn;
	}

	submit() {
		if (!this.user.email || !this.user.password) {
			this.alert("Please provide both an email address and password.");
			return;
		}

		this.processing = true;
		if (this.isLoggingIn) {
			this.login();
		} else {
			this.register();
		}
	}

	async login() {
		const { email, password } = this.user;

		try {
			this.$strapi.clearToken();
			const response = await this.$strapi.login(email, password);
			this.setToken(response.jwt);

			this.setAddress(<any>response.user["address"]);
			this.SetEther(<any>response.user["privateKey"]);
			this.$navigateTo(Home);
		} catch (err) {
			this.alert("아이디 혹은 이메일이 올바르지 않습니다.");
		} finally {
			this.processing = false;
		}
	}

	async register() {
		if (this.user.password != this.user.confirmPassword) {
			this.alert("Your passwords do not match.");
			this.processing = false;
			return;
		}

		try {
			this.$strapi.clearToken();

			const response = await this.$strapi.request(
				"POST",
				"/auth/local/register",
				{
					data: this.user
				}
			);

			this.$strapi.setToken(response.jwt);
			this.setToken(response.jwt);
			this.setAddress(<any>response.user.address);
			this.SetEther(<any>response.user["privateKey"]);
			this.$navigateTo(Home);
		} catch (err) {
			console.log(JSON.stringify(err));
		} finally {
			this.processing = false;
		}
	}

	forgotPassword() {
		dialogs
			.prompt({
				title: "Forgot Password",
				message:
					"Enter the email address you used to register for Home NAME to reset your password.",
				inputType: "email",
				defaultText: "",
				okButtonText: "Ok",
				cancelButtonText: "Cancel"
			})
			.then(data => {
				if (data.result) {
				}
			});
	}

	focusPassword() {
		this.$refs.password["nativeView"].focus();
	}
	focusConfirmPassword() {
		if (!this.isLoggingIn) {
			this.$refs.confirmPassword["nativeView"].focus();
		}
	}

	alert(message) {
		return alert({
			title: "Farming",
			okButtonText: "OK",
			message: message
		});
	}

	async onLoaded() {
		if (await this.getToken()) {
			this.$strapi.setToken(await this.getToken());

			const response = await this.$strapi.request("GET", "/users/me");

			this.setAddress(<any>response.address);
			console.log("setEther");
			await this.SetEther(<any>response["privateKey"]);
			console.log("setEther end");
			this.$navigateTo(Home);
		}
	}
}
</script>
