// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~nativescript-theme-core/scss/grey";

// Override variables here

@import "~nativescript-theme-core/scss/index";

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
.page {
	align-items: center;
	flex-direction: column;
}

.form {
	margin-left: 30;
	margin-right: 30;
	flex-grow: 2;
	vertical-align: middle;
}

.logo {
	margin-bottom: 12;
	height: 90;
	font-weight: bold;
}

.header {
	horizontal-align: center;
	font-size: 25;
	font-weight: 600;
	margin-bottom: 40;
	text-align: center;
	color: #d51a1a;
}

.input-field {
	margin-bottom: 25;
}

.input {
	font-size: 18;
	placeholder-color: #a8a8a8;
}

.input:disabled {
	background-color: white;
	opacity: 0.5;
}

.btn-primary {
	margin: 30 5 15 5;
	background-color: #53ba82;
}

.login-label {
	horizontal-align: center;
	color: #a8a8a8;
	font-size: 16;
}

.sign-up-label {
	margin-bottom: 20;
}

.bold {
	color: #000000;
}
