<template>
	<StackLayout class="form">
		<GridLayout rows="auto">
			<StackLayout row="0" class="input-field">
				<TextField
					class="input"
					hint="privateKey"
					:isEnabled="!processing"
					autocorrect="false"
					autocapitalizationType="none"
					v-model="privateKey"
					returnKeyType="next"
					@returnPress="focusPassword"
				></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>

			<Button
				text="정보수정"
				:isEnabled="!processing"
				@tap="submit"
				class="btn btn-primary m-t-20"
			></Button>
			<ActivityIndicator rowspan="1" :busy="processing"></ActivityIndicator>
		</GridLayout>
	</StackLayout>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { constants as USER } from "@/store/modules/user";
import { Action } from "vuex-class";

@Component
export default class ChangeInfo extends Vue {
	processing = false;

	privateKey = "";

	async submit() {
		const user = await this.$strapi.request("PUT", "/users-permissions/user", {
			data: {
				address: this.privateKey
			}
		});
	}
}
</script>
