<template>
	<StackLayout backgroundColor="#ffffff">
		<StackLayout backgroundColor="#ffffff">
			<Label class="drawer-header" :text="getSymbolBalance" />
		</StackLayout>
		<ScrollView>
			<StackLayout>
				<StackLayout
					height="50"
					:key="idx"
					v-for="(log, idx) in logs"
					class="border"
				>
					<GridLayout height="auto" columns="*, *" rows="*, *">
						<Label text="일반거래" row="0" col="0" />
						<Label
							:text="log.type == 'PAY' ? '결제' : '환불'"
							row="0"
							col="1"
							colspan="2"
						/>
						<Label :text="log.createdAt" row="1" col="0" rowspan="2" />
						<Label :text="`${log.totalPrice}원`" row="1" col="1" />
					</GridLayout>
				</StackLayout>
			</StackLayout>
		</ScrollView>
	</StackLayout>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import _ from "lodash";
import {
	constants as ETHEREUM,
	IEthereuemState
} from "@/store/modules/ethereum";
import { mapState, mapActions } from "vuex";
import { State, Action, Getter } from "vuex-class";
import moment from "moment";

@Component
export default class TradeLogs extends Vue {
	rerender = false;
	headers = [
		{
			text: "품명",
			align: "left",
			sortable: false,
			value: "name"
		},
		{ text: "단가", value: "calories", align: "right", sortable: false },
		{ text: "수량", value: "fat", align: "right", sortable: false },
		{ text: "금액", value: "totalPrice", align: "right", sortable: false }
	];

	@State(state => state.ethereum.balance)
	balance!: String;

	@Action(ETHEREUM.ACTIONS.SEND_COIN, { namespace: ETHEREUM.NAME })
	sendCoin!: Function;

	@Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
	refreshBalance!: Function;

	@Getter(ETHEREUM.GETTERS.GET_SYMBOL_BALANCE, { namespace: ETHEREUM.NAME })
	getSymbolBalance!: Function;

	logs: any[] = [];

	// async doRefund(log) {
	//   if (!confirm("환불 하시겠습니까?")) return;

	//   if (Number(log.totalWei) > Number(this.balance))
	//     return alert("잔액이 부족합니다.");

	//   const response = await this.$strapi.request("POST", `/refund/${log._id}`);

	//   const hash = await this.sendCoin({
	//     to: log.buyer.address,
	//     value: log.totalWei / 10 ** 18
	//   });

	//   response.transactionhash = hash;

	//   this.$io.emit("transfer", response);
	// }
	async mounted() {
		await this.refreshBalance();
		const response = await this.$strapi.request("GET", "/buyer/trades");

		_.forEach(response, log => {
			const set = str => {
				if (!log[str]) return;
				let result: any = _.assignIn(
					_.pick(log, [
						"buyer",
						"seller",
						"totalPrice",
						"totalWei",
						"tradeproducts",
						"_id"
					]),
					_.pick(log[str], ["type", "status", "updatedAt", "createdAt"])
				);
				result.class = str == "pay" ? "green--text" : "red--text";
				result.refundable =
					(str === "pay" && log.refund) || str == "refund" ? false : true;

				this.logs.push(result);
			};
			set("pay");
			set("refund");
		});
		this.logs.sort((a, b) => moment(b.updatedAt).diff(moment(a.updatedAt)));
		this.rerender = true;
	}
}
</script>

<style scoped>
.border {
	border-width: 1px;

	border-color: grey;
}
.drawer-header {
	padding: 50 16 16 16;
	margin-bottom: 16;
	background-color: #53ba82;
	color: #ffffff;
	font-size: 24;
}
</style>
